:root {
  --header-height: 5em;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-size: 18px;
}

body {
    margin: 0px;
}

html,
body {
    height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
}

.button-light {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: 1px gray solid;
  padding: 0.5em;
  background: white;
  cursor: pointer;
}

.button-dark {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 1px gray solid;
  padding: 0.5em;
  background: black;
  cursor: pointer;
}

.button-dark:hover {
  color: #dedede;
}

.button-light:hover {
  background: #dedede;
}
